@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; outline: none; }
ul,ol { list-style: none; }
a { text-decoration: none; }
img { border: 0; }
p { line-height: 1.6; }
input {
    font-size: 1.0em;
    font-family: 'Poppins', 'Noto Sans KR', '맑은고딕', '돋움', sans-serif;
    vertical-align: middle;
    color: #6b6b6b;
}
a, a:link {
    color: #555;
    text-decoration: none;
    cursor: pointer;
}